.profile {
  margin: 0 auto 20px;
  width: 200px;
  border-radius: 4px;
  box-shadow: 0px 6px 8px 0px #d1c0c0;
}

.description {
  padding: 10px;
  border: 1px solid #b2b2b2;
  border-bottom: none;
  text-align: center;
}

.avatar {
  margin: 0px auto 20px;
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

.name {
  font-weight: 600;
  margin-bottom: 5px;
}

.tag {
  color: #666666;
  margin-bottom: 5px;
  font-size: 12px;
}

.location {
  color: #666666;
  font-size: 12px;
}

.stats {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.stats li {
  padding: 5px;
  border: 1px solid #b2b2b2;
  background-color: hsl(0, 0%, 80%);
  display: grid;
}

.label {
  font-size: 10px;
  text-align: center;
}

.quantity {
  font-size: 12px;
  text-align: center;
  font-weight: 600;
}
